version: '3.4'

services:
#  waf:
#    image: "owasp/modsecurity-crs:v3.1"
#    environment:
#      PROXY: "1"
#      UPSTREAM: "proxy:80"
#    ports:
#      - "80:80"
#    depends_on:
#      - proxy
  proxy:
    build:
      context: .
      dockerfile: ./haproxy/Dockerfile
    ports:
      - "80:80"
      - "9000:9000"
    depends_on:
      - app1
      - app2
      - app3
      - exploitableapp-ws
      - netmon
  app1:
    container_name: app1
    image: ${DOCKER_REGISTRY}exploitableapp
    build:
      context: .
      dockerfile: ./ExploitableApp/Dockerfile 
    depends_on:
      - db
      - exploitableapp-ws
      - redis
      - netmon
    ports:
      - "8080"
    volumes:
      - sharedfiles:/app/sharedfiles/
  app2:
    container_name: app2
    image: ${DOCKER_REGISTRY}exploitableapp
    build:
      context: .
      dockerfile: ./ExploitableApp/Dockerfile 
    depends_on:
      - db
      - exploitableapp-ws
      - redis
      - netmon
    ports:
      - "8080"
    volumes:
      - sharedfiles:/app/sharedfiles/
  app3:
    container_name: app3
    image: ${DOCKER_REGISTRY}exploitableapp
    build:
      context: .
      dockerfile: ./ExploitableApp/Dockerfile 
    depends_on:
      - db
      - exploitableapp-ws
      - redis
      - netmon
    ports:
      - "8080"
    volumes:
      - sharedfiles:/app/sharedfiles/
  exploitableapp-ws:
    image: ${DOCKER_REGISTRY}exploitableappwebservice
    build:
      context: .
      dockerfile: ./ExploitableApp.WebService/Dockerfile
    depends_on:
      - db
      - netmon
    ports:
      - "8080"
    volumes:
      - sharedfiles:/app/sharedfiles/
  redis:
    image: "redis:4.0.11"
    command: redis-server --requirepass Password1
    depends_on:
      - netmon
#  db:
#    image: "microsoft/mssql-server-linux"
#    environment:
#      SA_PASSWORD: "Password1"
#      ACCEPT_EULA: "Y"
#    depends_on:
#      - netmon
  db:
    image: mysql:5.7
    restart: always
    volumes:
      - sharedfiles:/sharedfiles/
    depends_on:
      - netmon
  adminer:
    image: adminer
    restart: always
    depends_on:
      - db
    ports:
      - "8080:8080"
  netmon:
    build:
      context: .
      dockerfile: ./ssh/Dockerfile
    volumes:
      - sharedfiles:/sharedfiles/
    ports:
      - "1337:22"